Rust_part/template.svg
**/*.a
**/*.so
**/*.lib
/C_part/lib/
/C_part/bin/
conaninfo.txt
graph_info.json
conanbuildinfo.cmake
CMakeFiles/
**/CMakeCache.txt
**/Makefile
cmake_install.cmake
**/log.txt
**/conanbuildinfo.txt

# Discord token
*.discord_token
**/Cargo.lock

# Bot PNGs
**/input.png
**/output.png
**/output.svg
**/chunkmap.png

Rust_part/target

C_part/.xmake/
C_part/build/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/linux/x86_64/release/Rasterizer
.xmake/linux/x86_64/project.lock
conan.lock
.xmake/linux/x86_64/xmake.conf
.xmake/linux/x86_64/cache/requires
.xmake/linux/x86_64/cache/history
.xmake/linux/x86_64/cache/detect
.xmake/linux/x86_64/cache/config
.vscode/.conan_tools/conanInfo.dot
.xmake/linux/x86_64/xmake.conf

*.lock

Rust_part/vec
