docker-compose.yml
Rust_part/template.svg
**/*.a
**/*.so
**/*.lib
/C_part/lib/
/C_part/bin/
graph_info.json
**/log.txt
C_Part/build/

# Discord token
*.discord_token
**/Cargo.lock

# Bot PNGs
**/input.png
**/output.png
**/output.svg
**/chunkmap.png

.vs/
**/out/
**/build/
**/install/

Rust_part/target

C_part/.xmake/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
# wtf is this gitignore crap?
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/linux/x86_64/release/Rasterizer
.xmake/linux/x86_64/project.lock
.xmake/linux/x86_64/xmake.conf
.xmake/linux/x86_64/cache/requires
.xmake/linux/x86_64/cache/history
.xmake/linux/x86_64/cache/detect
.xmake/linux/x86_64/cache/config
.xmake/linux/x86_64/xmake.conf

*.lock

Rust_part/vec

build/.cmake/api/v1/query/client-vscode/

Rust_part/rickroll.bmp

CMakeCache.txt

CMakeFiles/3.23.1/CMakeSystem.cmake

CMakeFiles/cmake.check_cache

CMakeFiles/CMakeOutput.log

Cpp_part/freeglut/
Cpp_part/lunasvg/

placeholder.bmp

__azurite_db_table__.json
*.yml
Rust_part/output.svg.7z
Rust_part/output.svg.xz
